<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/styling.css">
	<link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
	<link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
	<link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

</head>

<body>
	{{{body}}}

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="vendors/jquery/js/jquery.min.js"></script>
	<script src="vendors/popper.js/js/popper.min.js"></script>
	<script src="vendors/bootstrap/js/bootstrap.min.js"></script>
	<script src="vendors/pace-progress/js/pace.min.js"></script>
	<script src="vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
	<script src="vendors/@coreui/coreui-pro/js/coreui.min.js"></script>

</body>

</html>
