<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/styling.css">

	<link rel="stylesheet" href="/vendors/@coreui/icons/css/coreui-icons.min.css">
	<link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">

	<link rel="stylesheet" href="/vendors/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/vendors/simple-line-icons/css/simple-line-icons.css">
	<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">

	<link href="/css/style.css" rel="stylesheet">
	<link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

</head>

	<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
		<header class="app-header navbar">
			<button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="/home">
				<img class="roundimage navbar-brand-full" src="images/logo.png" alt="DCH logo">
				<img class="roundimage navbar-brand-minimized" src="images/logo.png" alt="FTS logo">
			</a>
			<button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
				<span class="navbar-toggler-icon"></span>
			</button>

			<ul class="nav navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link nav-link" data-toggle="dropdown" href="/home" role="button" aria-haspopup="true"
						aria-expanded="false">
						<img class="img-avatar" src="images/team-placeholder.jpg" alt="...">
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<div class="dropdown-header text-center">
							<strong>Account</strong>
						</div>
						<a class="dropdown-item" href="/profile">
							<i class="fa fa-user"></i> Profile</a>
						<div class="dropdown-header text-center">
							<strong>Settings</strong>
						</div>
						<a class="dropdown-item" href="/">
							<i class="fa fa-shield"></i> Lock Account</a>
						<a class="dropdown-item" href="/">
							<i class="fa fa-lock"></i> Logout</a>
					</div>
				</li>
			</ul>

			<button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
				<span class="navbar-toggler-icon"></span>
			</button>
			<button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
				<span class="navbar-toggler-icon"></span>
			</button>
		</header>

		<div class="app-body">
			<div class="sidebar">
				<nav class="sidebar-nav">
					<ul class="nav">
						<li class="nav-item">
							<a class="nav-link" href="/home">
								<i class="nav-icon icon-speedometer"></i> Dashboard
								<span class="badge badge-info">Home</span>
							</a>
						</li>
						<li class="nav-title">Manage Resorts</li>
						<li class="nav-item">
							<a class="nav-link" href="/addresort">
								<i class="nav-icon icon-plus"></i>Add Resort</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/allresorts">
								<i class="nav-icon icon-plus"></i>All Resorts</a>
						</li>

						<li class="nav-title">Settings</li>
						<li class="nav-item nav-dropdown">
							<a class="nav-link nav-dropdown-toggle" href="#">
								<i class="nav-icon icon-settings"></i>Actions</a>
							<ul class="nav-dropdown-items">
								<li class="nav-item">
									<a class="nav-link" href="/">
										<i class="nav-icon icon-close"></i> Logout</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
				<button class="sidebar-minimizer brand-minimizer" type="button"></button>
			</div>

			{{!-- body here --}}
			{{{body}}}

			<aside class="aside-menu">
				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="index.html#messages" role="tab">
							<i class="icon-speech"></i>
						</a>
					</li>
				</ul>
			</aside>
		</div>

		<footer class="app-footer">
			<div>
				<a href="">RESORT CENTER SYSTEM</a>
				<span>© 2019 RCS.</span>
			</div>
			<div class="ml-auto">
				<span>Powered by</span>
				<a href="">RESORT CENTER SYSTEM</a>
			</div>
		</footer>

		</div>

		<script src="vendors/jquery/js/jquery.min.js"></script>
		<script src="/vendors/popper.js/js/popper.min.js"></script>
		<script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
		<script src="/vendors/pace-progress/js/pace.min.js"></script>
		<script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
		<script src="/vendors/@coreui/coreui-pro/js/coreui.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>

		<script src="/chart.js/dist/Chart.min.js"></script>
    <script src="/@coreui/coreui-plugin-chartjs-custom-tooltips/dist/js/custom-tooltips.min.js"></script>
    <script src="/js/main.js"></script>

	</body>

</html>
